@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Proyecto Uno</h1>
    <p class="lead">
        Este es un proyecto de prueba cuyo codigo fuente se encuentra compartido en GitHub
    </p>
    <p>
        <a href="https://github.com/breinergonza/test" class="btn btn-primary btn-lg" target="_blank">Ver codigo</a>
    </p>
</div>